#ajaxBusy {
    display: none;
    margin: 0px 0px 0px -50px; /* left margin is half width of the div, to centre it */
    padding: 30px 10px 10px 10px;
    position: absolute;
    left: 30%;
    top: 325px;
    width: 700px;
    height: 350px;
    text-align: center;
    background: #e8e8e8 url(../images/ajax-loader.gif) no-repeat center center;
    border: 1px solid #000;
}
/*.yscroll-left*/
.box{
     overflow-x: auto !important;
     
 }